body {
    background-color: rgba(32, 212, 137, 1);
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 400px;
    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    font-family: "Avenir", sans-serif;
    color:rgba(24, 28, 50, 1);
    box-shadow: 0 40px 80px rgba(0,0,0,0.5);
}

.img {
    position: absolute;
    background-image: url("img/AvA-verde.png");
    background-position: 100%;
    width: 151px;
    height: 60px;
    left: 50%;
    top: 40px;
    transform: translate(-50%, -50%);
}

.text-login {
  margin: 0 40px;
}

.login {
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  margin: 80px 0 25px;
  height: 30px;
  width: 100%;
}

.login div {
    padding-bottom: 8px;
    border-bottom: 2px solid rgba(24, 28, 50, 1);
    width: 100%;
}

.form {
  margin: 25px 0;
  height: 58px;
  margin-left: 75px;
}

input#caixinha{
  margin: 0px 7px 20px 75px;
}

.form-title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding: 0 10px 2px;
}

.input {
  font: 500 18px/40px "Avenir", sans-serif;
  height: 40px;
  padding: 0 10px;
  background: #e5e5e5;
  border: 0 none;
  border-radius: 8px;
}

.password .content {
  color: black;
}

.esquecer {
  text-align: center;
  font-size: 11px;
  font-weight: 800;
  text-transform: uppercase;
  width: 170px;
  margin: 0 auto;
  padding: 3px;
  border-bottom: 1px solid rgba(24, 28, 50, 1);
  cursor: pointer;
  margin-bottom: 10px;
}

.btn {
  color: rgba(255, 255, 255, 0.973);
  background: #20D489;
  margin: 0 auto 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  width: 170px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none;
}

@media (max-width: 400px) {

  body{
    background-color: white;
  }
  .modal { 
    background-color: white;
    box-shadow: none;
  }
  .text-login {
    margin: 0 50px;
  }
}